<div>
    <img src="/images/beer.png" alt="">
    <nav>
        <a class="menu" href="/beers">Check the Beers!</a>
        <a class="menu" href="/random-beer">Check a Random Beer</a>
    </nav>
</div>